<a href="https://colab.research.google.com/github/astatine99/MissionPlanner/blob/master/ML_Worksheet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

In [ ]:
def factorial(num):
  if num in [0,1]:
    return 1
  else:
    return num * factorial(num-1)

Question 2

In [ ]:
def relation_to_luke(name):
  relation = {'Darth Vader':'Father', 'Leia':'Sister','Han':'Brother-in-law', 'R2D2':'Droid'}
  print("Luke, I am your {}.".format(relation[name]))

Question 3

In [ ]:
def no_of_digits(num):
  for x in range(1,100):
    if num//(10**x) == 0:
      break
  return x

Question 4

In [ ]:
def product_of_factorial(num):
  if num in [0,1]:
    return 1
  else:
    return factorial(num)*product_of_factorial(num-1) #Using the factorial function in the first question

Question 5

In [ ]:
def sum_of_series(lst):
  sum = 0
  for x in lst:
    sum = sum + x**2
  return sum
lst = []
n = int(input("Enter number of elements : "))
for i in range(0, n):
    ele = int(input())
    lst.append(ele)
sum_of_series(lst)

Question 6

In [ ]:
def operation(number1, number2, operator):
  if operator not in ['+','-','*','/']:
    print("Invalid Operator")
  else:
    if operator == '+':
      return number1 + number2
    elif operator == '-':
      return number1 - number2
    elif operator == '*':
      return number1 * number2
    else:
      return number1/number2
number1 = int(input())
number2 = int(input())
operator = input()
operation(number1,number2,operator)

Question 7

In [4]:
def pattern(num):
  for x in range(1,num+1):
    if x%2 == 0:
      print("I WILL")
    else:
      print("I CAN")

Question 9

In [ ]:
def check_for_consecutive(lst1, lst2):
  for x in lst2:
    lst1.append(x)
  if sorted(lst1) == list(range(min(lst1),max(lst1)+1)):
    print("True")
  else:
    print(False)

Question 10

In [ ]:
def profit(my_dict):
  return (my_dict['sell_price'] * my_dict['inventory']) - (my_dict['cost_price'] * my_dict['inventory'])